<a href="https://colab.research.google.com/github/lorransr/ice_fire_and_data/blob/master/Uma_can%C3%A7%C3%A3o_de_Gelo%2C_Fogo_e_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Uma canção de Fogo, Gelo e Dados

In [3]:
pip install chartify

Requirement already satisfied: chartify in /usr/local/lib/python3.6/dist-packages (2.6.0)
Requirement already satisfied: colour<1.0.0,>=0.1.5 in /usr/local/lib/python3.6/dist-packages (from chartify) (0.1.5)
Requirement already satisfied: bokeh<2.0.0,>=0.12.16 in /usr/local/lib/python3.6/dist-packages (from chartify) (1.0.4)
Requirement already satisfied: selenium<=3.8.0,>=3.7.0 in /usr/local/lib/python3.6/dist-packages (from chartify) (3.8.0)
Requirement already satisfied: Pillow>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from chartify) (4.3.0)
Requirement already satisfied: jupyter<2.0.0,>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from chartify) (1.0.0)
Requirement already satisfied: pandas<1.0.0,>=0.21.0 in /usr/local/lib/python3.6/dist-packages (from chartify) (0.24.2)
Requirement already satisfied: scipy<2.0.0,>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from chartify) (1.2.1)
Requirement already satisfied: numpy>=1.7.1 in /usr/local/lib/python3.6/dist-packages (from bokeh<2.0.0,>=0.12.16->chartify) (1.16.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from bokeh<2.0.0,>=0.12.16->chartify) (2.5.3)
Requirement already satisfied: PyYAML>=3.10 in /usr/local/lib/python3.6/dist-packages (from bokeh<2.0.0,>=0.12.16->chartify) (3.13)
Requirement already satisfied: packaging>=16.8 in /usr/local/lib/python3.6/dist-packages (from bokeh<2.0.0,>=0.12.16->chartify) (19.0)
Requirement already satisfied: Jinja2>=2.7 in /usr/local/lib/python3.6/dist-packages (from bokeh<2.0.0,>=0.12.16->chartify) (2.10.1)
Requirement already satisfied: tornado>=4.3 in /usr/local/lib/python3.6/dist-packages (from bokeh<2.0.0,>=0.12.16->chartify) (4.5.3)
Requirement already satisfied: six>=1.5.2 in /usr/local/lib/python3.6/dist-packages (from bokeh<2.0.0,>=0.12.16->chartify) (1.12.0)
Requirement already satisfied: olefile in /usr/local/lib/python3.6/dist-packages (from Pillow>=4.3.0->chartify) (0.46)
Requirement already satisfied: notebook in /usr/local/lib/python3.6/dist-packages (from jupyter<2.0.0,>=1.0.0->chartify) (5.2.2)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.6/dist-packages (from jupyter<2.0.0,>=1.0.0->chartify) (4.6.1)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.6/dist-packages (from jupyter<2.0.0,>=1.0.0->chartify) (7.4.2)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.6/dist-packages (from jupyter<2.0.0,>=1.0.0->chartify) (5.5.0)
Requirement already satisfied: qtconsole in /usr/local/lib/python3.6/dist-packages (from jupyter<2.0.0,>=1.0.0->chartify) (4.4.4)
Requirement already satisfied: jupyter-console in /usr/local/lib/python3.6/dist-packages (from jupyter<2.0.0,>=1.0.0->chartify) (6.0.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas<1.0.0,>=0.21.0->chartify) (2018.9)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging>=16.8->bokeh<2.0.0,>=0.12.16->chartify) (2.4.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.7->bokeh<2.0.0,>=0.12.16->chartify) (1.1.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.6/dist-packages (from notebook->jupyter<2.0.0,>=1.0.0->chartify) (5.2.4)
Requirement already satisfied: nbformat in /usr/local/lib/python3.6/dist-packages (from notebook->jupyter<2.0.0,>=1.0.0->chartify) (4.4.0)
Requirement already satisfied: terminado>=0.3.3; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from notebook->jupyter<2.0.0,>=1.0.0->chartify) (0.8.2)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from notebook->jupyter<2.0.0,>=1.0.0->chartify) (0.2.0)
Requirement already satisfied: traitlets>=4.2.1 in /usr/local/lib/python3.6/dist-packages (from notebook->jupyter<2.0.0,>=1.0.0->chartify) (4.3.2)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.6/dist-packages (from notebook->jupyter<2.0.0,>=1.0.0->chartify) (4.4.0)
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->chartify) (5.5.0)
Requirement already satisfied: widgetsnbextension~=3.4.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets->jupyter<2.0.0,>=1.0.0->chartify) (3.4.2)
Requirement already satisfied: mistune>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->chartify) (0.8.4)
Requirement already satisfied: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->chartify) (3.1.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->chartify) (0.6.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->chartify) (1.4.2)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->chartify) (2.1.3)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->chartify) (0.3)
Requirement already satisfied: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->chartify) (0.4.2)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from jupyter-console->jupyter<2.0.0,>=1.0.0->chartify) (2.0.9)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client->notebook->jupyter<2.0.0,>=1.0.0->chartify) (17.0.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat->notebook->jupyter<2.0.0,>=1.0.0->chartify) (2.6.0)
Requirement already satisfied: ptyprocess; os_name != "nt" in /usr/local/lib/python3.6/dist-packages (from terminado>=0.3.3; sys_platform != "win32"->notebook->jupyter<2.0.0,>=1.0.0->chartify) (0.6.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2.1->notebook->jupyter<2.0.0,>=1.0.0->chartify) (4.4.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0->ipykernel->jupyter<2.0.0,>=1.0.0->chartify) (0.8.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0->ipykernel->jupyter<2.0.0,>=1.0.0->chartify) (41.0.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0->ipykernel->jupyter<2.0.0,>=1.0.0->chartify) (0.7.5)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0->ipykernel->jupyter<2.0.0,>=1.0.0->chartify) (4.7.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert->jupyter<2.0.0,>=1.0.0->chartify) (0.5.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->jupyter-console->jupyter<2.0.0,>=1.0.0->chartify) (0.1.7)

In [0]:
#importando as libs
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
from pandas.io.json import json_normalize
import json
import chartify
#fazer funcionar o bokeh
from bokeh.plotting import figure, show
from bokeh.io import output_notebook

In [6]:
!git clone -l -s git://github.com/lorransr/ice_fire_and_data.git cloned-repo
%cd cloned-repo
!ls

Cloning into 'cloned-repo'...
warning: --local is ignored
remote: Enumerating objects: 12, done.
remote: Counting objects: 100% (12/12), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 12 (delta 2), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (12/12), 191.77 KiB | 1022.00 KiB/s, done.
Resolving deltas: 100% (2/2), done.
/content/cloned-repo
episodes.csv  episodes.json  README.md	Uma_canção_de_Gelo,_Fogo_e_Dados.ipynb

In [0]:
with open('../cloned-repo/episodes.json') as f:
    d = json.load(f)

recapitulando: 
* Puxei os dados do Json "episodes"; 
* Segmentei por cenas e personagens;
* mantive os campos meta referentes ao episódio;
* mantive o inicio e o fim da cena;

In [8]:

#https://www.kaggle.com/jboysen/quick-tutorial-flatten-nested-json-in-pandas
#trabalhando com o json
raw = json_normalize(data = d['episodes'],
                     record_path = ["scenes","characters"],
                     meta=["seasonNum","episodeNum",["scenes","sceneStart"],["scenes","sceneEnd"],"episodeAirDate"],
                     sep = "," ,
                     errors = "ignore")
raw.head(10)

,alive,born,killedBy,mannerOfDeath,married,name,sex,title,weapon,seasonNum,episodeNum,"scenes,sceneStart","scenes,sceneEnd",episodeAirDate
0,NaN,NaN,NaN,NaN,NaN,Gared,NaN,NaN,NaN,1,1,0:00:40,0:01:45,2011-04-17
1,NaN,NaN,NaN,NaN,NaN,Waymar Royce,NaN,NaN,NaN,1,1,0:00:40,0:01:45,2011-04-17
2,NaN,NaN,NaN,NaN,NaN,Will,NaN,NaN,NaN,1,1,0:00:40,0:01:45,2011-04-17
3,NaN,NaN,NaN,NaN,NaN,Gared,NaN,NaN,NaN,1,1,0:01:45,0:03:24,2011-04-17
4,NaN,NaN,NaN,NaN,NaN,Waymar Royce,NaN,NaN,NaN,1,1,0:01:45,0:03:24,2011-04-17
5,NaN,NaN,NaN,NaN,NaN,Will,NaN,NaN,NaN,1,1,0:01:45,0:03:24,2011-04-17
6,NaN,NaN,NaN,NaN,NaN,Will,NaN,NaN,NaN,1,1,0:03:24,0:03:31,2011-04-17
7,False,NaN,NaN,NaN,NaN,Wight Wildling Girl,NaN,NaN,NaN,1,1,0:03:24,0:03:31,2011-04-17
8,NaN,NaN,NaN,NaN,NaN,Will,NaN,NaN,NaN,1,1,0:03:31,0:03:38,2011-04-17
9,NaN,NaN,NaN,NaN,NaN,Gared,NaN,NaN,NaN,1,1,0:03:44,0:05:36,2011-04-17

In [0]:
df = raw

In [10]:
df.columns

Index(['alive', 'born', 'killedBy', 'mannerOfDeath', 'married', 'name', 'sex',
       'title', 'weapon', 'seasonNum', 'episodeNum', 'scenes,sceneStart',
       'scenes,sceneEnd', 'episodeAirDate'],
      dtype='object')

In [11]:
df.columns=['alive', 'born', 'killedBy', 'mannerOfDeath', 'married', 'name', 'sex',
            'title', 'weapon', 'seasonNum', 'episodeNum', 'sceneStart',
            'sceneEnd', 'episodeAirDate']
df.dtypes

alive             object
born              object
killedBy          object
mannerOfDeath     object
married           object
name              object
sex               object
title             object
weapon            object
seasonNum          int64
episodeNum         int64
sceneStart        object
sceneEnd          object
episodeAirDate    object
dtype: object

In [0]:
df["sceneEnd_s"]=df["sceneEnd"].str.split(":")
df["sceneEnd_s"]=df["sceneEnd_s"].str[0].astype(int)*3600+df["sceneEnd_s"].str[1].astype(int)*60+df["sceneEnd_s"].str[2].astype(int)

df["sceneStart_s"]=df["sceneStart"].str.split(":")
df["sceneStart_s"]=df["sceneStart_s"].str[0].astype(int)*3600+df["sceneStart_s"].str[1].astype(int)*60+df["sceneStart_s"].str[2].astype(int)

df["screenTime"] = df["sceneEnd_s"]-df["sceneStart_s"]

In [13]:
df.head()

,alive,born,killedBy,mannerOfDeath,married,name,sex,title,weapon,seasonNum,episodeNum,sceneStart,sceneEnd,episodeAirDate,sceneEnd_s,sceneStart_s,screenTime
0,NaN,NaN,NaN,NaN,NaN,Gared,NaN,NaN,NaN,1,1,0:00:40,0:01:45,2011-04-17,105,40,65
1,NaN,NaN,NaN,NaN,NaN,Waymar Royce,NaN,NaN,NaN,1,1,0:00:40,0:01:45,2011-04-17,105,40,65
2,NaN,NaN,NaN,NaN,NaN,Will,NaN,NaN,NaN,1,1,0:00:40,0:01:45,2011-04-17,105,40,65
3,NaN,NaN,NaN,NaN,NaN,Gared,NaN,NaN,NaN,1,1,0:01:45,0:03:24,2011-04-17,204,105,99
4,NaN,NaN,NaN,NaN,NaN,Waymar Royce,NaN,NaN,NaN,1,1,0:01:45,0:03:24,2011-04-17,204,105,99

## Quem apareceu mais vezes em cena

In [101]:
df["name2"] = df["name"]


top_n = df.groupby(by="name")[["name2"]].count()
top_n.reset_index(inplace=True)
top_n.sort_values(by = "name2",ascending = False,inplace= True)


top_n["main"]=top_n["name2"].apply(lambda x: 0 if x<50 else 1)
top_n.head()

                   name  name2  main
211            Jon Snow    547     1
504    Tyrion Lannister    490     1
89   Daenerys Targaryen    435     1
424         Sansa Stark    339     1
19           Arya Stark    316     1

In [18]:

rank = df.groupby(by = ["seasonNum","name"])[["name2"]].count().reset_index()
rank.columns = ["seasonNum","name","count"]
rank.sort_values(by=["seasonNum","count"],ascending=False,inplace=True)

rank.head()

      seasonNum                name  count
1018          8  Daenerys Targaryen    115
1032          8            Jon Snow    105
1054          8    Tyrion Lannister     98
1031          8     Jaime Lannister     68
1049          8         Sansa Stark     58

In [0]:
#main characters - todos que apareceram mais que cinco vezes
rank["main"]=rank["count"].apply(lambda x: 0 if x<10 else 1)

In [122]:
import altair as alt


bars = alt.Chart(rank[rank["main"]==1]).mark_bar().encode(
        y= alt.Y('name',sort=alt.EncodingSortField("count",order="descending")),
        x='count',
        color=alt.Color('seasonNum',scale=alt.Scale(scheme ="blueorange" )),
        order = alt.Order("seasonNum",sort="ascending")
                ).configure_axis(grid=False
                ).configure_view(strokeWidth=0)

bars

Chart({
  config: Config({
    axis: AxisConfig({
      grid: False
    }),
    view: ViewConfig({
      strokeWidth: 0
    })
  }),
  data:       seasonNum                   name  count  main
  1018          8     Daenerys Targaryen    115     1
  1032          8               Jon Snow    105     1
  1054          8       Tyrion Lannister     98     1
  1031          8        Jaime Lannister     68     1
  1049          8            Sansa Stark     58     1
  1010          8             Arya Stark     57     1
  1014          8       Brienne of Tarth     57     1
  1019          8         Davos Seaworth     57     1
  1029          8              Grey Worm     55     1
  1013          8             Bran Stark     54     1
  1035          8             Lord Varys     54     1
  1047          8          Samwell Tarly     50     1
  1021          8                 Drogon     49     1
  1053          8     Tormund Giantsbane     49     1
  1033          8          Jorah Mormont     47     1
  1048          8         Sandor Clegane     41     1
  1040          8              Missandei     39     1
  1042          8          Podrick Payne     36     1
  1045          8                Rhaegal     36     1
  1025          8                 Gendry     35     1
  1012          8       Beric Dondarrion     27     1
  1036          8         Lyanna Mormont     25     1
  1039          8             Melisandre     22     1
  1051          8         The Night King     22     1
  1052          8          Theon Greyjoy     21     1
  1023          8          Euron Greyjoy     20     1
  1062          8             Yohn Royce     20     1
  1044          8                 Qyburn     18     1
  1022          8        Eddison Tollett     17     1
  1056          8               Viserion     17     1
  ...         ...                    ...    ...   ...
  85            1             Robb Stark     26     1
  104           1          Theon Greyjoy     26     1
  74            1          Petyr Baelish     24     1
  88            1          Rodrik Cassel     24     1
  11            1       Cersei Lannister     22     1
  42            1          Jorah Mormont     22     1
  94            1            Sansa Stark     22     1
  47            1             Khal Drogo     21     1
  43            1            Jory Cassel     18     1
  57            1             Lord Varys     18     1
  86            1       Robert Baratheon     18     1
  38            1      Joffrey Baratheon     17     1
  92            1          Samwell Tarly     16     1
  8             1                  Bronn     15     1
  31            1                   Irri     15     1
  33            1        Jaime Lannister     15     1
  21            1  Grand Maester Pycelle     14     1
  93            1         Sandor Clegane     14     1
  75            1                  Pypar     13     1
  14            1                 Doreah     12     1
  24            1                  Grenn     12     1
  77            1                Rakharo     12     1
  80            1        Renly Baratheon     12     1
  116           1      Viserys Targaryen     12     1
  122           1                   Will     12     1
  36            1           Jeor Mormont     11     1
  78            1                   Rast     11     1
  124           1                  Yoren     11     1
  4             1        Barristan Selmy     10     1
  60            1          Maester Luwin     10     1

  [371 rows x 4 columns],
  encoding: FacetedEncoding({
    color: Color({
      scale: Scale({
        scheme: 'blueorange'
      }),
      shorthand: 'seasonNum'
    }),
    order: Order({
      shorthand: 'seasonNum',
      sort: 'ascending'
    }),
    x: X({
      shorthand: 'count'
    }),
    y: Y({
      shorthand: 'name',
      sort: EncodingSortField({
        field: 'count',
        order: 'descending'
      })
    })
  }),
  mark: 'bar'
})